    <!----- Footer Sec ----->
    <footer class="w-full !pt-0 sm:p-5 p-3">
        <div class="relative bg-[#F6F2FF] rounded-xl sm:rounded-[20px] lg:rounded-[30px] overflow-hidden">
            <div class="max-w-[1240px] w-[100%] px-5 xl:px-3 mx-auto">
                <div class="pt-6 sm:pt-10 md:pt-12 lg:pt-[90px] pb-5 md:pb-7 lg:pb-14">
                    <div class="grid grid-cols-1 lg:grid-cols-2 gap-5 lg:gap-14">
                        <div class="grid grid-cols-2 gap-x-4">
                            <div>
                                <div class="mb-2 sm:mb-4 lg:mb-5 font-primary font-semibold text-lg md:text-xl">Company</div>
                                <div class="flex flex-col sm:gap-3 gap-2">
                                    <a href="/retail-platform" class="w-fit inline-block font-primary text-description font-normal text-sm sm:text-base leading-[140%] lg:leading-[26px] hover:text-primary focus-visible:text-primary transition-all duration-300 ease-in-out">Retail Platform</a>
                                    <a href="/enterprise-ai" class="w-fit inline-block font-primary text-description font-normal text-sm sm:text-base leading-[140%] lg:leading-[26px] hover:text-primary focus-visible:text-primary transition-all duration-300 ease-in-out">Enterprise AI</a>
                                    <a href="#" class="w-fit inline-block font-primary text-description font-normal text-sm sm:text-base leading-[140%] lg:leading-[26px] hover:text-primary focus-visible:text-primary transition-all duration-300 ease-in-out">Automation</a>
                                    <a href="/blog-list" class="w-fit inline-block font-primary text-description font-normal text-sm sm:text-base leading-[140%] lg:leading-[26px] hover:text-primary focus-visible:text-primary transition-all duration-300 ease-in-out">Resources</a>
                                    <a href="/about-us" class="w-fit inline-block font-primary text-description font-normal text-sm sm:text-base leading-[140%] lg:leading-[26px] hover:text-primary focus-visible:text-primary transition-all duration-300 ease-in-out">About Artisans</a>
                                    <a href="#" class="w-fit inline-block font-primary text-description font-normal text-sm sm:text-base leading-[140%] lg:leading-[26px] hover:text-primary focus-visible:text-primary transition-all duration-300 ease-in-out">Integrations</a>
                                    <a href="/contact-us" class="w-fit inline-block font-primary text-description font-normal text-sm sm:text-base leading-[140%] lg:leading-[26px] hover:text-primary focus-visible:text-primary transition-all duration-300 ease-in-out">Contact us</a>
                                </div>
                            </div>
                            <div>
                                <div class="mb-2 sm:mb-4 lg:mb-5 font-primary font-semibold text-lg md:text-xl">Our Solutions</div>
                                <div class="flex flex-col sm:gap-3 gap-2">
                                    <a href="#" class="w-fit inline-block font-primary text-description font-normal text-sm sm:text-base leading-[140%] lg:leading-[26px] hover:text-primary focus-visible:text-primary transition-all duration-300 ease-in-out">Merchandise Planning</a>
                                    <a href="#" class="w-fit inline-block font-primary text-description font-normal text-sm sm:text-base leading-[140%] lg:leading-[26px] hover:text-primary focus-visible:text-primary transition-all duration-300 ease-in-out">Assortment Planning</a>
                                    <a href="/overview" class="w-fit inline-block font-primary text-description font-normal text-sm sm:text-base leading-[140%] lg:leading-[26px] hover:text-primary focus-visible:text-primary transition-all duration-300 ease-in-out">Unified Commerce</a>
                                    <a href="/distributed-order-management" class="w-fit inline-block font-primary text-description font-normal text-sm sm:text-base leading-[140%] lg:leading-[26px] hover:text-primary focus-visible:text-primary transition-all duration-300 ease-in-out">Distributed Order Management</a>
                                    <a href="/customer-experience-management" class="w-fit inline-block font-primary text-description font-normal text-sm sm:text-base leading-[140%] lg:leading-[26px] hover:text-primary focus-visible:text-primary transition-all duration-300 ease-in-out">Customer Xperience Management</a>
                                    <a href="/d2c-eCommerce" class="w-fit inline-block font-primary text-description font-normal text-sm sm:text-base leading-[140%] lg:leading-[26px] hover:text-primary focus-visible:text-primary transition-all duration-300 ease-in-out">D2C eCommerce</a>
                                    <a href="#" class="w-fit inline-block font-primary text-description font-normal text-sm sm:text-base leading-[140%] lg:leading-[26px] hover:text-primary focus-visible:text-primary transition-all duration-300 ease-in-out">Composable Commerce</a>
                                </div>
                            </div>

                            <div class="mt-5 md:mt-8 lg:mt-12 col-span-2 sm:col-span-1">
                                <div class="mb-2 sm:mb-4 lg:mb-5 font-primary font-semibold text-lg md:text-xl">Malaysia</div>
                                <div class="inline-block font-primary text-description font-normal text-sm sm:text-base leading-[140%] lg:leading-[26px] hover:text-primary focus-visible:text-primary transition-all duration-300 ease-in-out">10-1, Menara Infiniti, Jalan SS 6/3, Kelana Jaya, 47301 Petaling Jaya, Selangor, Malaysia.</div>
                            </div>
                            <div class="mt-5 md:mt-8 lg:mt-12 col-span-2 sm:col-span-1">
                                <div class="mb-2 sm:mb-4 lg:mb-5 font-primary font-semibold text-lg md:text-xl">India</div>
                                <div class="inline-block font-primary text-description font-normal text-sm sm:text-base leading-[140%] lg:leading-[26px] hover:text-primary focus-visible:text-primary transition-all duration-300 ease-in-out">1108-9, The Spire 2, 150 Feet Ring Rd, Near Shital Park, Opposite Plexus Med Care, Shastri Nagar, Rajkot, Gujarat 360006. India</div>
                            </div>
                        </div>

                        <div class="lg:ps-14">
                            <div class="ftrGetStartCard w-full p-5 sm:p-7 lg:p-10 lg:pe-8 rounded-2xl sm:rounded-[20px] relative bg-[url(../../assets/image/ftrGetStart-BG.png)] bg-cover bg-no-repeat bg-top-right">
                                <div class="relative z-10 text-heading font-primary font-semibold lg:text-[35px] sm:text-3xl text-xl leading-[120%] mb-4">Ready to Elevate Your Retail and Supply Chain Strategy?</div>
                                <p class="relative z-10 lg:pe-16 text-description font-primary font-normal sm:text-base text-sm leading-[150%]">Let’s connect to explore how Artisans Commerce Cloud can meet your unique business needs and fuel sustainable growth across sales channels.</p>
                                <div class="relative z-10 mt-3 md:mt-5 lg:mt-7">
                                    <a href="/contact-us" class="w-fit h-fit rounded-[40px] sm:px-6 px-4 sm:py-4 py-3 flex items-center justify-center text-center gap-2.5 font-primary font-bold text-sm md:text-base leading-[100%] relative overflow-hidden transition-all duration-300 ease-in-out active:bg-primary active:text-white active:scale-95 focus-visible:bg-primary focus-visible:text-white bg-primary text-white hover:bg-primary-light">Get started</a>
                                </div>
                            </div>

                            <div class="lg:mt-[55px] md:mt-9 sm:mt-7 mt-5 mb-3 flex gap-2.5 flex-nowrap">
                                <img src="assets/image/icon/icon-mail.svg" alt="" class="max-w-full h-fit">
                                <a href="#" class="inline-block font-primary text-description font-normal text-sm sm:text-base leading-[140%] lg:leading-[26px] hover:text-primary focus-visible:text-primary transition-all duration-300 ease-in-out">support@artisanscloud.com.my</a>
                            </div>

                            <div class="flex gap-2.5 flex-nowrap">
                                <img src="assets/image/icon/icon-phone.svg" alt="" class="max-w-full h-fit">
                                <div class="flex sm:items-center md:gap-x-4 md:gap-y-2 gap-x-2 gap-y-1 flex-wrap">
                                    <a href="#" class="inline-block font-primary text-description font-normal text-sm sm:text-base leading-[140%] lg:leading-[26px] hover:text-primary focus-visible:text-primary transition-all duration-300 ease-in-out"><span class="font-semibold">Malaysia</span> +60 (3) 6412 7632</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="bg-grey/20 mx-auto w-full h-[1px]"></div>

                <div class="lg:pt-[49px] md:pt-7 pt-5">
                    <div class="flex items-center gap-4 flex-wrap justify-between">
                        <div class="flex items-center gap-2 flex-wrap">
                            <a href="#" class="inline-block font-primary text-description font-normal text-sm sm:text-base leading-[140%] lg:leading-[26px] hover:text-primary focus-visible:text-primary transition-all duration-300 ease-in-out underline">Terms & Conditions</a>
                            <span class="inline-block text-description">|</span>
                            <a href="#" class="inline-block font-primary text-description font-normal text-sm sm:text-base leading-[140%] lg:leading-[26px] hover:text-primary focus-visible:text-primary transition-all duration-300 ease-in-out underline">Privacy Policy</a>
                            <span class="hidden sm:inline-block text-description">|</span>
                            <p class="w-full sm:w-auto flex items-center gap-2 !text-[#8C8C8C] text-sm sm:text-base font-primary font-normal leading-[150%]">
                                Protected by:
                                <img src="assets/image/icon/DMCA-logo.svg" alt="" class="max-w-full">
                            </p>
                        </div>
                        <p class="text-xs sm:text-base text-description font-primary font-normal leading-[150%]">&copy; <script>document.write(new Date().getFullYear())</script> Artisans. All right reserved.</p>
                    </div>

                    <div class="relative z-[1] mb-3 lg:mt-[14px] mt-3 flex items-center gap-3 flex-wrap-reverse lg:flex-nowrap justify-between">
                        <a href="https://www.linkedin.com/company/artisanscommercecloud/" target="_blank" class="w-fit h-fit justify-center text-center md:text-base leading-[100%] relative overflow-hidden transition-all duration-300 ease-in-out active:bg-primary active:scale-95 focus-visible:bg-primary sm:py-2 sm:pe-[20px] sm:ps-3.5 py-1.5 ps-3 pe-3.5 rounded-full border border-[#d0e0eb] flex items-center gap-1.5 text-heading active:text-white focus-visible:text-white font-primary font-normal text-xs lg:text-sm">
                            <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <g clip-path="url(#clip0_163_51)">
                                    <path d="M8 11V16" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M8 8V8.01" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M12 16V11" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M16 16V13C16 12.4696 15.7893 11.9609 15.4142 11.5858C15.0391 11.2107 14.5304 11 14 11C13.4696 11 12.9609 11.2107 12.5858 11.5858C12.2107 11.9609 12 12.4696 12 13" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M3 7C3 5.93913 3.42143 4.92172 4.17157 4.17157C4.92172 3.42143 5.93913 3 7 3H17C18.0609 3 19.0783 3.42143 19.8284 4.17157C20.5786 4.92172 21 5.93913 21 7V17C21 18.0609 20.5786 19.0783 19.8284 19.8284C19.0783 20.5786 18.0609 21 17 21H7C5.93913 21 4.92172 20.5786 4.17157 19.8284C3.42143 19.0783 3 18.0609 3 17V7Z" stroke="currentColor" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </g>
                            </svg>
                            LinkedIn
                        </a>
                        <p class="lg:max-w-[584px] max-h-full lg:text-end text-xs sm:text-sm text-[#8C8C8C] font-primary font-normal leading-[150%]">Disclaimer: All rights reserved. Designs and solutions showcased are proprietary work. Unauthorized reproduction or use is prohibited. Client work displayed with permission.</p>
                    </div>

                    <div class="ftrBottomTitle w-full -mb-[2.5%] text-transparent text-[clamp(4.688rem,25.405vw_-_1.267rem,19.375rem)] text-center font-semibold leading-[0.9] font-primary tracking-[-0.04em]">artisans</div>
                </div>
            </div>
        </div>
    </footer>
    <!----- End Footer Sec ----->
