<!----- Header ----->
<header
  id="siteHeader"
  class="fixed top-5 px-5 w-full z-[998] transition-all duration-200 ease-linear"
>
  <div class="px-3 pt-3 header-inner transition-all duration-200 ease-linear">
    <div
      class="relative w-full bg-white/70 sm:p-5 p-4 border border-[#E9F1FF] rounded-[10px] sm:rounded-[20px] flex items-center justify-between flex-nowrap transition-all duration-200 ease-linear"
    >
      <a href="/index" class="transition-all duration-300"
        ><img
          src="/assets/image/logo.svg"
          alt="Artisans Cloud"
          class="h-8 xl:h-10"
          width="120"
          height="40"
      /></a>

      <button
        id="menuToggle"
        class="flex lg:hidden items-center justify-center w-10 h-10 rounded-full bg-white"
        aria-label="Open menu"
      >
        <svg
          xmlns="http://www.w3.org/2000/svg"
          width="20"
          height="20"
          viewBox="0 0 24 24"
          fill="#000"
        >
          <path d="M3 4H21V6H3V4ZM9 11H21V13H9V11ZM3 18H21V20H3V18Z"></path>
        </svg>
      </button>

      <div class="hidden lg:flex items-center gap-0 xl:gap-4">
        <a
          href="/role-play-agent/arena"
          class="header-link py-3 px-2 xl:px-4 rounded-[70px] font-normal text-base leading-[100%] text-heading hover:text-primary focus-visible:text-primary transition-all duration-300 ease-in-out outline-0"
          >AI Role Play</a
        >
        <a
          href="/quality-management-system"
          class="header-link py-3 px-2 xl:px-4 rounded-[70px] font-normal text-base leading-[100%] text-heading hover:text-primary focus-visible:text-primary transition-all duration-300 ease-in-out outline-0"
          >Agentic QMS</a
        >
        <a
          href="/unified-commerce/nexus"
          class="header-link py-3 px-2 xl:px-4 rounded-[70px] font-normal text-base leading-[100%] text-heading hover:text-primary focus-visible:text-primary transition-all duration-300 ease-in-out outline-0"
          >Unified Commerce</a
        >

        <a
          href="/about-us"
          class="header-link py-3 px-2 xl:px-4 rounded-[70px] font-normal text-base leading-[100%] text-heading hover:text-primary focus-visible:text-primary transition-all duration-300 ease-in-out outline-0"
          >About Us</a
        >
      </div>

      <a
        href="/contact-us"
        class="py-3 px-5 mt-auto lg:mt-0 w-fit h-fit rounded-[40px] hidden lg:flex items-center justify-center text-center gap-2.5 font-bold text-sm xl:text-base leading-[100%] relative overflow-hidden transition-all duration-300 ease-in-out active:bg-primary active:text-white active:scale-95 focus-visible:bg-primary focus-visible:text-white bg-heading text-white hover:bg-primary"
      >
        <img
          src="/assets/image/icon/talkTOUs-icon.svg"
          alt="Talk to us icon"
          width="20"
          height="20"
        />
        Talk to us
      </a>
    </div>
  </div>
</header>
<!-- Mobile Menu -->
<div
  id="mainNav"
  class="block lg:hidden fixed top-0 end-0 w-full sm:w-[400px] h-screen bg-white transform translate-x-full transition-transform duration-300 z-[999]"
>
  <div class="h-full p-5 flex flex-col justify-between">
    <button id="menuClose" class="text-end text-xl pb-3">✕</button>
    <div class="grow flex flex-col items-start gap-2 overflow-y-auto">
      <a
        href="/role-play-agent/arena"
        class="header-link py-2 px-3 rounded-[70px] font-normal text-base leading-[100%] text-heading hover:text-primary focus-visible:text-primary transition-all duration-300 ease-in-out outline-0"
        >AI Role Play</a
      >
      <a
        href="/quality-management-system"
        class="header-link py-2 px-3 rounded-[70px] font-normal text-base leading-[100%] text-heading hover:text-primary focus-visible:text-primary transition-all duration-300 ease-in-out outline-0"
        >Agentic QMS</a
      >
      <a
        href="/unified-commerce/nexus"
        class="header-link py-2 px-3 rounded-[70px] font-normal text-base leading-[100%] text-heading hover:text-primary focus-visible:text-primary transition-all duration-300 ease-in-out outline-0"
        >Unified Commerce</a
      >
      <a
        href="/about-us"
        class="header-link py-2 px-3 rounded-[70px] font-normal text-base leading-[100%] text-heading hover:text-primary focus-visible:text-primary transition-all duration-300 ease-in-out outline-0"
        >About Us</a
      >
    </div>

    <div class="pt-3">
      <a
        href="/contact-us"
        class="py-3 px-5 mt-auto lg:mt-0 w-full sm:w-fit h-fit rounded-[40px] flex items-center justify-center text-center gap-2.5 font-bold text-sm md:text-base leading-[100%] relative overflow-hidden transition-all duration-300 ease-in-out active:bg-primary active:text-white active:scale-95 focus-visible:bg-primary focus-visible:text-white bg-heading text-white hover:bg-primary"
      >
        <img
          src="/assets/image/icon/talkTOUs-icon.svg"
          alt="Talk to us icon"
          width="20"
          height="20"
        />
        Talk to us
      </a>
    </div>
  </div>
</div>
<div
  id="menuOverlay"
  class="fixed inset-0 bg-black/40 opacity-0 invisible transition-all duration-300 z-[998]"
></div>
